.header {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  list-style: none;
}
.menu__link {
  color: #333;
  padding: 8px;
}
.menu__link--accent {
  color: red;
}
