.check {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: var(--space-l);
  user-select: none;
}

.check__label {
  font-size: var(--font-size-m);
  padding-left: var(--space-s);
}
