:root {
  --color-bg: white;
  --color-primary: rgb(90, 89, 148);
  --color-success: rgb(4, 145, 21);
  --color-warning: rgb(233, 139, 56);
  --color-danger: rgb(182, 27, 27);
  --color-border: black;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  --radius-s: 4px;
}
