.badge {
  color: var(--color-primary);
  position: absolute;
  top: var(--space-s);
  left: var(--space-s);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--space-xs);
  font-size: var(--space-m);
  font-weight: bold;
  z-index: 1;
}

.badge--success {
  color: var(--color-success);
}

.badge--warning {
  color: var(--color-warning);
}

.badge--danger {
  color: var(--color-danger);
}
