.plan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: var(--space-m);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-s);
  box-shadow: 0 var(--space-xs) var(--space-s) rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.plan:hover {
  box-shadow: 0 var(--space-s) var(--space-l) rgba(0, 0, 0, 0.15);
  cursor: default;
}

.plan__list {
  width: 100%;
}

.plan--popular {
  border: 1px solid var(--color-border-warning);
  box-shadow: 0 1px var(--space-xs) var(--color-warning);
}

.plan--popular:hover {
  box-shadow: 0 var(--space-s) var(--space-l) var(--color-warning);
}

.plan__item--disabled {
  opacity: 30%;
  text-decoration: line-through;
}
